@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  50% { border-color: transparent }
}

.animated-text {
  display: inline-block;
  overflow: hidden;
  border-right: .15em solid var(--cardinal);
  white-space: nowrap;
  margin: 0;
  letter-spacing: .1em;
  animation: 
    typing 3.5s steps(40, end),
    blink 1s step-end infinite;
}

.animated-text.delay-1 {
  animation-delay: 0.5s;
}

.animated-text.delay-2 {
  animation-delay: 4s;
}

.title-container {
  display: inline-flex;
  flex-direction: column;
}